#password and sensitive data
sources.py
sources.json
sources.json.bak
/sources*.json
/sources*.json.bak
/sources_test.json
config.json
processing.json

.idea/
__pycache__/
tmp/
data/
forecasts/
/venv/
#downloaded data
*.nc
*.grib

scripts/remap_grid_ADRION
virtualenv.sh

docs/installazione.txt
docs/errori_da _gestire.txt
docs/miglioramenti.txt
/processing.json
/status.json
/sources_full.json
/sources_test.json

.bash_eternal_history
