asgiref==3.2.3
attrs==19.3.0
backcall==0.1.0
certifi==2019.9.11
cffi==1.14.0
cfgrib==0.9.8.1
chardet==3.0.4
click==7.1.1
decorator==4.4.2
#Django==3.0.2
#django-celery-beat==1.5.0
#django-timezone-field==4.0
idna==2.8
ipython==8.10.0
ipython-genutils==0.2.0
jedi==0.16.0
motuclient==1.8.4
numpy==1.18.1
pandas==1.0.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
#pkg-resources==0.0.0
prompt-toolkit==3.0.4
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.7.4
python-crontab==2.4.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
scipy==1.4.1
six==1.13.0
sqlparse==0.3.0
traitlets==4.3.3
urllib3==1.26.5
wcwidth==0.1.8
xarray==0.15.0
cdo==1.5.5
netcdf4